
div h2.Header{
  color: white;
  width: 100%;
  background-color: #006dd0;
  padding: 20px;
  margin: 0;
}
div div.EmpList{
  font-size: 20pt;
  text-align: center;
  padding: 10px;
}
 div div table{
  margin-left: 10%;
}
.search{
  width: 80%;
  height: 5vh;
  margin-left: 10%;
  text-align: right;
}
#search{
  border: none;
  background-color: #f2f2f2;
  width: 20%;
  height: 80%;
  border-radius: 15px;
  text-align: center;
}
input:focus {
  outline:none;
}